html,
body,
div {
  height: 100%;
  width: 100%;
  display: block;
}

footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}

@media screen and (min-width: 1400px) {
  #column {
    grid-column: 1;
  }
}