/* .item--carousel{
    display: flex;
    justify-content: center !important;
    align-items: center;
    height: auto;
    width: 100%;
    outline: none;
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
} */
.wrapper--arrow {
  position: relative;
  width: 7%;
  cursor: pointer;
}
.arrow__left {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 30px;
}
.arrow__right {
  position: absolute;
  top: 40%;
  right: 40%;
  font-size: 30px;
}
.iLquPE {
  background-color: white;
  outline: none;
}
.lgksPe {
  background-color: white;
  outline: none !important;
}
.rec-arrow:active {
  background-color: black !important;
}
.lgksPe:hover:enabled,
.lgksPe:focus:enabled {
  background-color: rgba(103, 58, 183, 0.1) !important;
}
.lgksPe:hover:enabled,
.lgksPe:focus:enabled {
  color: black;
}
.image-carousel {
  padding: 0.25rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
