.se-menu-list > li > button > svg > g {
  color: black;
}
.se-menu-list > li > button > svg {
  color: black;
}
.se-menu-list > li > button > span {
  color: black;
}
.se-list-basic .se-btn-list {
  color: black !important;
}
.wrapper__editor {
  border: 1px solid #fff;
  border-radius: 5px;
}
.sun-editor .se-dialog-tabs button {
  background-color: #e5e5e5;
  color: black !important;
  border-bottom: 0;
}
.se-dialog-content > form {
  width: 100% !important;
}